.top_category
{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    align-items: center; 
    transition: transform 1s;
}
.top_category_product
{
    border: 0px solid red;
    width: 365px;
    height: 320px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
    
}
.top_category :hover
{
    transform: scale(1.05);
}
.top_category_product img
{
    width: 100%;
}
.checked
{
    color: orange;
}
.starr
{
    border: 0px solid black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title p
{
    text-align: center;
    font-size: 17px;
}
.title b
{
    color: green;
    font-size: 20px;
}
.btn
{
    border: 0px soli green;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn input
{
   height: 40px;
   width: 130px;
   border-radius: 7px;
   border: 0px;
   background-color: orange;
   font-size: 20px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);

}
.btn input:hover
{
    background-color: green;
    color: white;
}